.bar:hover {
  opacity: 0.5;
}

.tabs {
  display: flex;
}

.tabs button {
  border: none;
  padding: 15px;
  outline: none;
}

.tabs .selected {
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
}
