body {
  font-family: Tahoma, sans-serif;
  background-color: #fefeff;
}

.bar:hover {
  opacity: 0.5;
}

.tabs {
  display: flex;
}

.tabs.year {
  gap: 5px;
}

.tabs.year button {
  border-radius: 10px;
  font-size: 12px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #787375;
  color: white;
  cursor: pointer;
}

.tabs.year .selected {
  background-color: #3a3335;
}

.tabs.year button:hover {
  background-color: #3a333585;
}

.tabs-headline {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
}

.tabs button {
  border-radius: 12px;
  border: none;
  padding: 15px;
  outline: none;
  margin: 3px;
  cursor: pointer;
}

.tabs button:hover {
  background-color: lightgrey;
}

.tabs .selected {
  background-color: #4ea6da;
  color: white;
  font-weight: 600;
}

.tabs .selected:hover {
  background-color: #4ea6da;
}

.tabs.top button {
  font-size: 18px;
  color: black;
  background-color: white;
}

.tabs.top button:hover {
  background-color: rgba(255, 255, 255, 0);
}

.tabs.top {
  width: 100%;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.close-button {
  font-size: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
